name: airflow-gcr-sync
image:
  name: gcr.io/fsn-insight/gcs-sync
  tag: v0.0.3-alpha
labels:
  app: airflow-gcr-sync
  part-of: airflow
env:
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /tmp/config/config.json
  - name: SOURCE
    value: "gs://airflow-dev-code"
  - name: DESTINATION
    value: /tmp/dags/
volumeMounts:
  - name: config
    mountPath: "/tmp/config"
  - name: dags
    mountPath: "/tmp/dags"
imagePullSecrets:
  - name: gcr-json-key
volumes:
  - name: config
    secret:
      secretName: gcs-sync-auth
  - name: dags
    persistentVolumeClaim:
      claimName: airflow-dags
